* {
     font-family: "Open Sans", sans-serif;
}

#container {
    margin-top: 88px;
    margin-left: 80px;
    margin-right: 80px;
    /* margin-bottom: 137px; */
}

.headline-1 {
    font-weight: 700 bold;
    font-size: 1em;
    color: #E1624F;

    height: 22px;
    width: 1120px;
    margin: 0%;

}

#title-H1 {
    font-weight: bold;
    font-size: 2.25em;
    height: 49px;
    width: 1120px;
    color: #000000;
    margin: 0;
    margin-top: 8px;
}

body {
    margin: 0;
}

.main-image {
    width: 1120px;
    max-width: 100%;
    height: 660px;
    margin-top: 44px;
    margin-bottom: 24px;
    border-radius: 28px;
    object-fit: cover;
}

.image-description {
    text-align: center;
    font-style: italic;
    color: #333333;
    margin: 0;
}

.divisor {
    width: 1120px;
    height: 1px;
    background-color: #D9D9D9;
    margin-top: 40px;
    display: flex;
    max-width: 100%;
    
}

.title {
    margin-top: 64px;
}

.headline-2 {
    font-weight: 700 bold;
    font-size: 1em;
    color: #E1624F;

    height: 22px;
    /* width: 255px; */
    margin-bottom: 2px;
}

.title-h2 {
    font-weight: bold;
    font-size: 1.9em;
    /* height: 44px; */
    /* width: 683px; */
    color: #000000;
    margin: 0;
    margin-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 8px;
}

p {
    text-align: justify;
}

.first-image {
    width: 1120px;
    height: 350px;
    border-radius: 28px;
    object-fit: cover;
    object-position: center;

    margin-top: 64px;
    margin-bottom: 24px;
}

.ol-li {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.ul-li {
    padding-left: 17px;
    /* 
        Quando se cria uma lista ordenada, o ponto, por padrão, surge com um padding-left, que
        precisa ser alterado. Se se zerar este padding, o ponto sairá da margem.
    
    */
}

.bom-para {
    color: #0C51A7;
}

.second-image {
    width: 1120px;
    height: 350px;
    border-radius: 28px;
    object-fit: cover;
    object-position: bottom;

    /* margin-top: 64px; */
    margin-bottom: 24px;

} 

.third-image {
    width: 1120px;
    height: 350px;
    border-radius: 28px;
    object-fit: cover;
    object-position: 20% 64%;

    /* margin-top: 48px; */
    margin-bottom: 24px;
}

p {
    margin-top: 4px;
}

#history {
    color: #591b98;
}

#culture {
    color: #E5245E;
}

#architecture {
    color: #E95E10;
}

.description {
    /* height: 66px; */
    /* width: 1120px; */
    text-align: center;
    color: #333333;
    margin-top: 40px;
    margin-bottom:65px;
    text-align: center;
    max-width: 100%;
}

.footers-signature {
    text-align: center;
    margin-bottom: 48px;
    
}

.signature {
    font-family: "Alice", serif;
}

.heart-icon {
    padding: 3px;
}

footer, img {
    vertical-align: middle;
}

section + section {
    margin-top: 68px;
}

.copyright {
    display: flex;
    font-size: xx-small;
    margin-top: -22px;
    margin-bottom: 24px;
    justify-content: end;
    padding-right: 25px;
    color: #D9D9D9;
}

.figure {
    margin: 0;
}



img {
    max-width: 100%;
    height: auto;
}

#programmers-copyright {
    font-family: "Alice", serif;
    margin-top: 40px;
    margin-bottom:65px;
}